{% extends "@Zanimaux/Produit/gere_pr.html.twig" %}

{% block esm_li_melfou9_belkol %}

{% endblock %}


                {% block container_fluid %}
                    {% block esm_li_melfou9 %}
                        {% block tsawer_kol %}

                            <div class="span6" >
                                <!--breadcrumbs-->
                                <div id="content-header">
                                    <div id="breadcrumb"> <a href="{{ path('loginadmin') }}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
                                </div>
                                <div class="widget-box">
                                    <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                                        <h5>Ajouter un animal</h5>
                                    </div>

                                    {{ form_start(form) }}
                                    <div class="control-group" >
                                    </div>
                                    {{ form_end(form) }}


                                </div>
                            </div>
                        {% endblock %}
                    {% endblock %}

                {% endblock %}


